@import url(../bower_components/fontawesome/css/font-awesome.min.css);
/* line 2, ../bower_components/neat/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, ../sass/base/_typography.sass */
body {
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
  margin: 0; }

/* line 9, ../sass/base/_typography.sass */
h1,
h2,
#header #site-name,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 20, ../sass/base/_typography.sass */
h1 {
  font-size: 1.96875em; }

/* line 23, ../sass/base/_typography.sass */
h2, #header #site-name {
  font-size: 1.75em; }

/* line 26, ../sass/base/_typography.sass */
h3 {
  font-size: 1.53125em; }

/* line 29, ../sass/base/_typography.sass */
h4 {
  font-size: 1.3125em; }

/* line 32, ../sass/base/_typography.sass */
h5 {
  font-size: 1.09375em; }

/* line 35, ../sass/base/_typography.sass */
h6 {
  font-size: 0.875em; }

/* line 38, ../sass/base/_typography.sass */
p {
  margin: 0 0 0.75em; }

/* line 41, ../sass/base/_typography.sass */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  /* line 46, ../sass/base/_typography.sass */
  a:hover {
    color: #2c5999; }
  /* line 49, ../sass/base/_typography.sass */
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

/* line 53, ../sass/base/_typography.sass */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 60, ../sass/base/_typography.sass */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 65, ../sass/base/_typography.sass */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 71, ../sass/base/_typography.sass */
cite {
  color: #737373;
  font-style: italic; }
  /* line 75, ../sass/base/_typography.sass */
  cite:before {
    content: "\2014 \00A0"; }

/* line 78, ../sass/base/_typography.sass */
#skip {
  display: none; }

/* line 1, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 7, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875em; }

/* line 14, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 18, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
  label.required:after {
    content: "*"; }
  /* line 21, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
  label abbr {
    display: none; }

/* line 24, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 39, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
  textarea:hover {
    border-color: #c4c4c4; }
  /* line 42, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 47, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
textarea {
  resize: vertical; }

/* line 50, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 53, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 58, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 62, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_forms.sass */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_lists.sass */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 16, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_lists.sass */
dl {
  margin-bottom: 0.75; }
  /* line 19, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_lists.sass */
  dl dt {
    font-weight: bold;
    margin-top: 0.75; }
  /* line 23, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_lists.sass */
  dl dd {
    margin: 0; }

/* line 1, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_tables.sass */
table {
  border-collapse: collapse;
  margin: 0.75 0;
  table-layout: fixed;
  width: 100%; }

/* line 7, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_tables.sass */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75 0;
  text-align: left; }

/* line 13, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_tables.sass */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75 0; }

/* line 17, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_tables.sass */
tr, td, th {
  vertical-align: middle; }

/* line 1, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_buttons.sass */
button,
a.button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1.07692em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  text-shadow: none; }
  /* line 14, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_buttons.sass */
  button:hover,
  a.button:hover,
  input[type="submit"]:hover {
    background: #2c5999;
    color: white; }

/* line 19, /Users/johannes/workspace/sites/bt-library/sites/all/themes/mossback/sass/base/_buttons.sass */
button,
a.button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 15, ../bower_components/bourbon/dist/addons/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 4, ../sass/base/_extends.sass */
.hidden {
  display: none; }

/* line 7, ../sass/base/_extends.sass */
.hide-text {
  overflow: hidden; }
  /* line 4, ../bower_components/bourbon/dist/addons/_hide-text.scss */
  .hide-text:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

/* line 10, ../sass/base/_extends.sass */
.container {
  max-width: 83.57143em;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, ../bower_components/bourbon/dist/addons/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* line 13, ../sass/base/_extends.sass */
div.messages {
  font-weight: bold;
  margin-bottom: 0.875em;
  padding: 0.875em; }
  /* line 18, ../sass/base/_extends.sass */
  div.messages.status {
    background: #e6efc2;
    color: #56651a; }
    /* line 25, ../sass/base/_mixins.sass */
    div.messages.status a {
      color: #333c10; }
      /* line 28, ../sass/base/_mixins.sass */
      div.messages.status a:hover {
        color: black; }
  /* line 21, ../sass/base/_extends.sass */
  div.messages.error {
    background: #fbe3e4;
    color: #96151b; }
    /* line 25, ../sass/base/_mixins.sass */
    div.messages.error a {
      color: #6a0f13; }
      /* line 28, ../sass/base/_mixins.sass */
      div.messages.error a:hover {
        color: #110203; }
  /* line 24, ../sass/base/_extends.sass */
  div.messages.warning {
    background: #fff6bf;
    color: #8c7800; }
    /* line 25, ../sass/base/_mixins.sass */
    div.messages.warning a {
      color: #594c00; }
      /* line 28, ../sass/base/_mixins.sass */
      div.messages.warning a:hover {
        color: black; }

/* line 5, ../sass/wireframe.sass */
#header .container {
  background: #f7f7f7;
  padding: 1em;
  margin-bottom: 1em; }
/* line 10, ../sass/wireframe.sass */
#header #logo {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 6.38298%; }
  /* line 38, ../bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  #header #logo:last-child {
    margin-right: 0; }
/* line 13, ../sass/wireframe.sass */
#header #site-name {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-right: 0;
  margin-bottom: 0.5em;
  padding-top: 1em; }
  /* line 38, ../bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  #header #site-name:last-child {
    margin-right: 0; }
/* line 21, ../sass/wireframe.sass */
#header #secondary-menu {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-right: 0; }
  /* line 38, ../bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  #header #secondary-menu:last-child {
    margin-right: 0; }
  /* line 24, ../sass/wireframe.sass */
  #header #secondary-menu .links {
    float: right; }
/* line 27, ../sass/wireframe.sass */
#header #main-menu {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  margin-top: 1em; }
  /* line 38, ../bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  #header #main-menu:last-child {
    margin-right: 0; }
/* line 32, ../sass/wireframe.sass */
#header .navigation li {
  float: left;
  margin-right: 1em; }
  /* line 36, ../sass/wireframe.sass */
  #header .navigation li a {
    padding: 0.5em; }
    /* line 38, ../sass/wireframe.sass */
    #header .navigation li a:hover {
      background: #fff6bf; }

/* line 42, ../sass/wireframe.sass */
#main .node .content,
#main .panel-panel-inner {
  background: #e5edf8;
  padding: 1em; }

/* line 47, ../sass/wireframe.sass */
#footer .container {
  background: #dddddd;
  padding: 1em;
  margin-top: 1em; }
