@import ../bower_components/bourbon/app/assets/stylesheets/bourbon
@import ../bower_components/neat/app/assets/stylesheets/neat-helpers
@import base/variables
@import base/grid-settings
@import ../bower_components/neat/app/assets/stylesheets/neat
// @import ../bower_components/fontawesome/css/font-awesome.min.css

// Global variables, mixins and styles.
@import base/mixins
@import base/typography
@import base/forms
@import base/lists
@import base/tables
@import base/buttons
@import base/extends
@import base/layout


#header
    .container
        background: lighten($light-gray, 10%)
        padding: 1em
        margin-bottom: 1em

    #site-name
        @extend h2

        margin-bottom: 0.5em
        padding-top: 1em

    #secondary-menu
        .links
            float: right

    #main-menu
        margin-top: 1em

    .navigation
        li
            float: left
            margin-right: 1em

            a
                padding: 0.5em

                &:hover,
                &.active-trail
                    background: $light-yellow

#main
    #highlighted
        background: $light-green
        padding: 1em
        margin-bottom: 1em

    #sidebar-first,
    #sidebar-second
        background: lighten($blue, 40%)
        padding: 1em

#footer .container
    background: $light-gray
    padding: 1em
    margin-top: 1em
