// Grid
$column: 90px
$gutter: 30px
$grid-columns: 12
$max-width: em(1170)

// Show the grid as an image background.
$visual-grid: false
$visual-grid-color: #DDD

// Neat Breakpoints
$small-screen: em(500,16)
$medium-screen: em(767,16)
$large-screen: em(1024,16)

$large-screen-down: new-breakpoint(max-width $large-screen 8)
$medium-screen-down: new-breakpoint(max-width $medium-screen 8)
$small-screen-down: new-breakpoint(max-width $small-screen 4)
